.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 4px;
  color: white;
}

.cards {
  background-color: black;
  height: 6rem;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
